body {
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../imgs/victor-freitas-Yuv-iwByVRQ-unsplash.jpg') no-repeat center center fixed;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   color: var(--blanco);
   font-family: 'Montserrat', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   padding: 20px;
}

header {
   background: rgba(226, 48, 48, 0.8);
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
   text-align: center;
   margin-bottom: 20px;
}

h1 {
   color: var(--naranja);
   text-transform: uppercase;
   font-size: 1.8rem;
   letter-spacing: 1px;
}

table {
   width: 90%;
   max-width: 800px;
   background: rgb(245, 244, 244);
   backdrop-filter: blur(15px);
   border-radius: 10px;
   overflow: hidden;
   border-collapse: collapse; 
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

thead {
   background: var(--naranja);
}

thead th {
   padding: 15px;
   text-align: left;
   color: var(--blanco);
}

tbody tr {
   transition: background 0.3s ease;
}

tbody tr:nth-child(even) {
   background: rgb(255, 255, 255);
}

tbody tr:hover {
   background: rgba(245, 136, 64, 0.356);
}

td {
   padding: 15px;
   color: var(--blanco);
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}